.about {
    /* because parent ( content-footer-container ) is absolute */
    /* shift this element down unless it will be cover by Nav */
    padding-top: calc(7em + 0vh);
    margin-top: calc(0em + 15vh);

    width:100vw;
    height:100vh;
    
    background-color: var(--main-bg-color);

}



@media screen and (max-width: 992px) {

     /* because parent ( content-footer-container ) is absolute */
    /* shift this element down unless it will be cover by Nav */
    .about {
        padding-top: calc(5em + 0vh);
        margin-top: calc(0em + 5vh);
    }

  }