footer {
   
    
    background-color: var(--footer-bg-color);
    
    width: 100%;
    overflow-x: hidden;

}


 .footer-link h6 {

    font-size: calc((0.75) * 0.3vw + 0.75rem);
    color: var( --footer-font-color);
    text-decoration-color: var( --footer-font-color);
    font-weight: 600;

 }

 .footer-link:visited,.footer-link:hover,.footer-link:focus,.footer-link:active {

    color: var( --footer-font-color);

 }

 svg {
    color: whitesmoke;
 }

 

 #signUp-NewsLetter-button {

    color: var( --footer-font-color);
    

    height: 7em;
    
    border-width: 2.5px;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 1.7px;

    padding-left: 1em;
    padding-right: 1em;

    border-color:  var( --footer-font-color);

    display: grid;
    place-items: center;
 }

 #signUp-NewsLetter-button:hover {

    color: whitesmoke;

    background-color: var( --footer-font-color);

 }



