.video-wrapper {
 /*
  position:absolute;
  top: 0%;
  z-index: -1;
  */
  background-color: var(--main-bg-color);
 

}

.background-container {
  
  background-color: var(--main-bg-color);
  
  background-image: url('https://images.squarespace-cdn.com/content/v1/632c1d421b2c5c03369902ee/9e0a99bc-5d91-483d-a1c1-2024f7018b30/92422bg-20.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 75%;
  padding:0;
  margin:0;

  font-family: var(--main-font);
  color: var(--main-font-color);
}

video {
   
    /* make video center when shrink screen */
    margin-left: 50vw;
    transform: translate(-50%);

    overflow: hidden;

    
   

  }

  @media screen and (max-width: 992px) {

    /* resize video to make brand logo fit within small screen 
    unless it will too big  */
    video {
        width: auto;
        height: 100vh;
    }

    div.card-home {
       width:90%;
  }

  

  }

  @media screen and (max-width: 500px) {

    div.card-horizontal {
    
      display: flex;
      flex-direction: column;
      height: max-content;
      max-height: min-content;
  }
    div.card-home {
      width: 85%;
    }

    div.img-fluid#home-card-img {
   
      width: 100%;
     height: auto;
     max-width: 100%;
     padding-bottom: 0%;
    }

    div.card-body-home {
      width: 100%;
      padding:0%;
     margin:0%;
        
         
    }

    div h5.card-title-home {
      padding-top: 1em;
    
      
    }
 

  }

  @media screen and (min-width: 992px) {

    /* make brand logo be in a middle of big screen */
    video {
      min-width: 100vw;
      height: auto;
      min-height: 130vh; /* compensate Home component -> position top : -15vh * in App.css */
    }

  }


  div.card-home {
   width: 90%;
   max-width: max-content;

   background-color: var(--card-bg-color);
   
   border: 0;
  
  }

  .card-horizontal {
    display: flex;
    flex-direction: row-reverse;
  /*  flex: 1 1 auto;*/
    height: max-content;
    width: 100%;

    background-color: var(--card-bg-color);
    
}

.img-fluid#home-card-img {
  width:50%;
  height:auto;
  flex: 1 1 50%;
  max-width: 550px;
  background-color: var(--card-bg-color);
  
}

.card-body-home {
  width: 50%;
  max-width: 550px;
  flex: 1 1 50%;
  background-color: var(--card-bg-color);
  max-height: 100%;

}

.card-body-home p {
 
  font-size: calc((0.5) * 0.3vw + 0.8rem);
  font-weight: 600;
  letter-spacing: 1.7px;
 
}

.card-body-home h5 {
 
  font-size: calc((0.6) * 1vw + 0.9rem);
  font-weight: 800;
  letter-spacing: 1.7px;
 
}

h5.card-title-home {
  padding-top:5%;
  margin-bottom: 15%;
}


 .book-private {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.5px;

}



#up-coming-dinner-button {
  height: 6em;
  width: fit-content;
  border-width: 2.5px;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1.7px;
  color:rgb(0, 0, 0);
  
  
}

.text-dinner-button {
    padding-left: 2em;
    padding-right: 2em;
   

   
}


#up-coming-dinner-button:hover {
    color:whitesmoke;
    background-color: var(--main-font-color);


}

.bottom-container-home {
  width: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

.bottom-container-home h5 {
 
  margin-top: 4em;
  margin-bottom: 4em;
  font-size: calc((1) * 1.2vw + 1rem);
  font-weight: 800;
  letter-spacing: 4.5px;
 
}
 
.bottom-container-home span {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}

.bottom-container-home a {
  color: var(--main-font-color);
 }
.bottom-container-home a:hover {
 color: var(--main-font-color);
}


.bottom-grid-home .box img {

 width: 100%;
 height: 250px;
 max-height: 250px;
 object-fit: cover;
 
}

#app-modal-img img {
  width:100%;
  height:auto;
 
}

