
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


main {

  --main-bg-color: rgba(232, 212, 195, 1);
  --card-bg-color: rgba(194, 146, 124, 0.2);
  --main-font: 'Roboto', sans-serif;
  --main-font-color:  rgb(57, 37, 23);

  font-family: var(--main-font);
  color: var(--main-font-color);
}

    /* make video under nav */
  .content-footer-container {
    position:absolute;
    top: -15vh;
    z-index: -1;
    width: 100%;
    overflow: hidden;
  }

 
  @media screen and (max-width: 992px) {

    .content-footer-container {
        top: 0;
    }

  }

